

body {
  background-color: lightgreen;
  font-family: 'Silkscreen', cursive; 
}

header.cabecera{
    background-image: url( ../img/fondo_cabecera.jpg);  
    background-repeat: no-repeat;
    background-size: contain; 
    display: flex; 
    flex-direction: row;
    width: Edge 12;
    height: 209px;
    margin-bottom: 6em;
    min-width: 100vh; 
}

header.cabecera div.opcion{
  background-color: blue;
  font-size: 60%;
  text-align: center;
  margin-left: 60px;
  width: 150;
  height: 75;
}

section.descripcion{
    display: flex;
    font-size: 130%;
    text-align: center;
}

