

body {
  background-color: lightgreen;
  font-family: 'Silkscreen', cursive; 
}

header.cabecera{
    background-image: url( ../img/fondo_cabecera.jpg);  
    background-repeat: no-repeat;
    background-size: cover; 
    width: Edge 12;
    height: 209px;
    margin-bottom: 6em;
}

header.cabecera div.opcion{
  background-color: blue;
  margin-left: 60px;
  width: 150;
  height: 75;
  display: block;
}


div.menu_sup div.opcion h1{
  font-size: 130%;
  text-align: center;

}

section.descripcion{
    display: flex;
}

article.parrafo {

    font-size: 160%;
    color: red; 
}
